/* review_crete_blade */
#review_create_title{
    text-align: center;
 }

 #review_form {
    margin:0 auto;
    max-width: 80%;
 }

 #review_submit_button {
    display: block;
    width:  20%;
    margin: 30px auto;
 }

/* follow_index.blade */
#myfollow_user_title {
    text-align: center;
    margin: 3% auto;
}

#follow_user_list {
    display: flex;
    flex-wrap: wrap;
}

#user_info_item {
    width: 50%;
    height: 20%;
}

#follow_user_form {
    margin-top: 20px;
    text-align: center;
}

#user_info_item .table{
    width: 70%;
    margin: 0 auto;    
}

/* detail.blade */
#cinema_detail {
    display: flex;
    margin: 80px auto;
    height: 30%;
}

#cinema_visual {
    text-align: center;
    width: 50%;
    
}

#cinema_visual button {
    padding: 10px 60px;
}


#visual {
    margin-bottom: 30px;
}

#cinema_infomation {
    font-size: x-large;
    width: 50%;
}

#cinema_info_table{
    height: 100%;
}

#cinema_review h2{
    margin-left: 5%;
}









